# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Model Weights
data/*.h5
data/*.json
weights/*.msgpack

# Results & Temp
results/
logs/
.ipynb_checkpoints/
.env

# MacOS
.DS_Store
